@import '../global.scss';

.lock-scroll {
  overflow: hidden;
}

.checkout-header {
  display: flex;
  justify-content: space-between;
}

.background-shadow {
  position: absolute;
  display: block;
  background-color: #151515;
  left: 0;
  top: 0;
  padding: 30px 0;
  height: 100vh;
  opacity: 60%;
  width: 100%;
  z-index: 1;
}

.stripe-loading-card {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: $white;
  padding: 20px 15px;
  min-width: 300px;
  width: 60%;
  left: 0;
  right: 0;
  z-index: 2;

  .spinner {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

    polygon {
      stroke-width: 3px;
    }
  }
}

.checkout {
  a {
    img {
      width: 110px;
    }
  }
  .checkout-item {
    display: flex;
    padding: 12px 0;
    border-bottom: 1px solid $border;

    .checkout-item-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding-left: 15px;
      .checkout-item-title {
        height: min-content;
        width: 100%;
      }

      .checkout-item-details {
        line-height: 1;
        h2 {
          font-size: 22px;
        }

        h3 {
          padding-top: 5px;
          font-weight: bold;
        }
      }

      .adjust-item-qty {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin-left: auto;
        .adjust-item-element {
          text-align: center;
          width: 40px;
          height: 40px;
          box-sizing: border-box;
          padding: 7px 0;
          background-color: $white;
          border: 1px solid $border;
          cursor: pointer;
          font-size: 20px;
        }

        .adjust-item-element:nth-child(2) {
          border-left: 0;
          border-right: 0;
        }

        p {
          font-weight: bold;
        }
      }
    }
  }

  .checkout-item:first-child {
    border-top: 1px solid $border;
  }
  .checkout-item:last-child {
    border-bottom: 0;
  }
}

.checkout-footer {
  border-top: 1px solid $border;
  position: sticky;
  background-color: $white;
  padding-bottom: 24px;
  bottom: 0;

  .cart-total {
    display: flex;
    justify-content: space-between;
    padding: 21px 0 10px 0;
  }

  button {
    background-color: $maximum-red;
    border: none;
    font-size: 36px;
    width: 100%;
    padding: 7px 47px 2px;
    text-decoration: none;
    color: $white;
  }

  .empty-cart {
    margin: 30px auto;
  }
}

@media (min-width: $mobile-breakpoint) {
  .checkout {
    a {
      img {
        width: 175px;
      }
    }
    .checkout-item {
      .checkout-item-container {
        .adjust-item-qty {
          align-items: flex-start;
          padding-top: 5px;
        }
      }
    }
  }
  .checkout-footer {
    display: flex;
    flex-wrap: wrap;
    .cart-total {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-left: auto;
      h1 {
        padding-left: 175px;
      }
    }
    .btn-primary {
      width: auto;
      margin-left: auto;
      cursor: pointer;
    }

    .btn-primary:active {
      background-color: $raisin-black;
      color: $white;
    }

    .empty-cart {
      margin: 132px auto;
    }
  }
}

@media (min-width: $tablet-breakpoint) {
  .checkout {
    a {
      img {
        width: 200px;
      }
    }

    .checkout-item {
      .checkout-item-container {
        font-size: 20px;

        .checkout-item-title h1 {
          font-size: 30px;
        }

        .checkout-item-details {
          h2 {
            font-size: 25px;
          }
          h3 {
            font-size: 25px;
            font-weight: normal;
          }
        }

        .adjust-item-qty {
          align-items: flex-start;
          padding-top: 16px;
        }
      }
    }
  }

  .product-description-mobile {
    display: none;
  }
}
