@import '../global.scss';

.navbar {
  display: flex;
  flex-wrap: wrap;
  position: static;
  justify-content: center;
  padding: 20px 0 0 0;

  .nav-left {
    margin-right: auto;

    a {
      display: block;
      text-decoration: none;
      font-size: 55px;
      padding: 9px 10px 0 10px;
      line-height: 0;
      background-color: $maximum-red;
      color: $white;
      line-height: 50px;
    }
  }

  .nav-burger {
    margin: auto 0 auto auto;
    i {
      font-size: 56px;
    }
  }

  .nav-search {
    display: flex;
    width: 100%;
    padding: 10px 0;

    input {
      border: 1px solid $platinum;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: $raisin-black;
      padding: 5px 0 5px 15px;
      font-size: 20px;
      width: 100%;
      height: 45px;
    }

    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button,
    input::-webkit-search-results-button,
    input::-webkit-search-results-decoration {
      -webkit-appearance: none;
    }

    button {
      text-align: center;
      width: 60px;
      height: 45px;
      background-color: $white;
      border: 1px solid $platinum;
      border-left: none;
      cursor: pointer;
      font-size: 20px;
    }
  }

  .navbar-nav {
    display: none;
  }

  .search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mega-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: px;
    margin: auto;
    max-width: 1280px;
    min-height: 300px;
    width: 90%;
    box-sizing: border-box;
    z-index: 1;
    cursor: default;
    background-color: #efefef;

    display: flex;
    justify-content: flex-start;
    text-align: center;
    flex-wrap: wrap;

    ol {
      list-style-type: none;
      padding: 0;
      width: 100%;
    }
  }
}

@media (min-width: $tablet-breakpoint) {
  .toggled-btn {
    background-color: #efefef;
  }
  .navbar {
    .nav-left {
      margin-right: auto;
      h1 {
        font-size: 55px;
        padding: 9px 10px 0 10px;
        line-height: 50px;
        background-color: $maximum-red;
        color: $white;
      }
    }

    .nav-burger {
      display: none;
    }

    .nav-right {
      display: flex;
      align-items: flex-end;

      ul {
        padding-left: 0;
      }
    }

    .navbar-nav {
      display: flex;
      margin: 0;

      li {
        list-style: none;
      }

      li:not(:last-child) i {
        font-size: 23px;
      }

      a {
        text-decoration: none;
        margin-left: 30px;
        font-size: 30px;
        padding: 0 13px;
      }
    }

    .navbar-secondary-nav {
      a {
        font-size: 20px;
      }

      li a i {
        font-size: 15px !important;
        padding-bottom: 5px;
      }
    }

    .mega-menu {
      position: absolute;
      left: 0;
      right: 0;
      top: 79px;
      margin: auto;
      max-width: 1280px;
      min-height: 300px;
      width: 90%;
      box-sizing: border-box;
      padding: 20px 0;
      z-index: 1;
      cursor: default;
      background-color: #efefef;

      ol {
        padding: 0;
      }
    }
  }
}
