@import '../global.scss';

.product-preview {
  text-align: left;
  padding: 0 20px;
  .product-preview-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);

    align-items: baseline;
    column-gap: 50px;
  }

  .product-preview-wrapper {
    .product-preview-text-left {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
    h1 {
      font-size: 23px;
      padding-right: 5px;
    }
    h2 {
      font-weight: 500;
      font-size: 22px;
    }

    p {
      font-size: 20px;
    }
    a {
      text-decoration: none;
    }
    img {
      width: 100%;
    }
  }
}
