@import '../global.scss';

:root {
  --app-height: 100%;
}

html,
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  height: var(--app-height);
}

.splashpage::before {
  content: '';
  background-image: url('../../assets/mountainscape.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  opacity: 0.5;
  min-width: 100%;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(85vh);

  .hero {
    padding: 0 20px;
    text-align: center;
    h1 {
      font-weight: bold;
      font-size: 16vw;
      padding: 0;
    }
    h2 {
      font-size: 10vw;
      padding: 0 0 50px 0;
    }
  }

  .cta-button {
    background-color: $maximum-red;
    border: none;
    padding: 0;
    font-size: 10vw;
    font-weight: bold;
    padding: 7px 17px 2px 17px;
    text-decoration: none;
    color: $white;
  }
}

@media (min-width: $tablet-breakpoint) {
  .hero-container {
    .hero {
      h1 {
        font-size: 80px;
      }
      h2 {
        font-size: 50px;
      }

      .cta-button {
        font-size: 40px;
      }
    }
  }
}
