@import '../global.scss';

.product-preview {
  text-align: left;
  .product-preview-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 20px 0;
    align-items: baseline;
    column-gap: 50px;
    row-gap: 2px;
  }

  .product-preview-wrapper {
    .product-preview-text-left {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
    h1 {
      font-size: 23px;
      padding-right: 5px;
    }
    h2 {
      font-weight: 500;
      font-size: 22px;
    }

    p {
      font-size: 20px;
    }
    a {
      text-decoration: none;
    }
    img {
      width: 100%;
    }
  }
}

@media (min-width: $tablet-breakpoint) {
  .product-preview {
    .product-preview-container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
