@import '../global.scss';

.product-container {
  .product-preview-wrapper {
    display: block;
    text-align: center;
    margin: 30px 0;

    h1 {
      font-size: 40px;
    }

    h2 {
      font-weight: bold;
    }

    p {
      font-size: 22px;
      padding: 20px 0 0 0;
      font-weight: 300;
    }

    #price {
      padding-top: 0;
      font-size: 50px;
    }

    .cta-button {
      background-color: $maximum-red;
      border: none;
      padding: 0;
      font-size: 40px;
      padding: 7px 27px 2px 27px;
      text-decoration: none;
      color: $white;
    }
  }
}
