@import '../global.scss';

.product-container {
  .product-preview-wrapper {
    display: block;
    text-align: center;
    margin-top: 30px;

    h1 {
      font-size: 40px;
    }

    h2 {
      font-weight: bold;
    }

    #price {
      font-size: 50px;
    }
  }
}
