@import '../global.scss';

.faq {
  max-width: 500px;
  margin-top: 20px;
  border-top: 1px solid $border;
  padding: 10px 0 20px 0;
  .h2 {
    margin-bottom: 0px;
  }

  .accordion {
    position: relative;
    padding-right: 28px;

    .accordion-header {
      display: flex;
      justify-content: space-between;
    }

    .accordion-button {
      background-color: $white;
      color: $raisin-black;
      text-decoration: none;
      text-align: center;
      border: none;
      font-size: 20px;
      width: 30px;
      height: 30px;
      padding: 3px 0;
      cursor: pointer;
    }

    .accordion-answer p {
      font-size: 20px;
    }
  }
}
