//Colours - https://www.color-name.com/
$white: #fff;
$raisin-black: #232323;
$raisin-black-medium: #424242;
$raisin-black-light: #838383;
$maximum-red: #da291d;
$platinum: #e1e4e7;
$bright-grey: #efefef;
$border: #e9e7e4;
