@import './global.scss';

body {
  margin: 0;
  color: $raisin-black;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
button {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Teko', sans-serif;
  color: $raisin-black;
}
